<?xml version="1.0" encoding="UTF-8"?>

<enemies>

  <enemy>
    
     <hp>100</hp>
     <Experience>10</Experience>
     <Attack>30</Attack>
    <wapons>
    <wapon>
     <IDname_wapon>longbow</IDname_wapon>
     <type>bow</type>
     <range>7</range>
    </wapon>
    <wapon>
      <IDname_wapon>crossbow</IDname_wapon>
      <type>bow</type>
      <range>10</range>
    </wapon>
    <wapon>
      <IDname_wapon>stab knife</IDname_wapon>
      <type>knife</type>
      <range>2</range>
    </wapon>
    </wapons>
  </enemy>

  <enemy>
      <hp>70</hp>
      <Experience>40</Experience>
      <Attack>70</Attack>
    <wapons>
    <wapon>
      <IDname_wapon>small ax</IDname_wapon>
      <type>ax</type>
      <range>3</range>
    </wapon>
    <wapon>
      <IDname_wapon>dubbel handed ax</IDname_wapon>
      <type>ax</type>
      <range>4</range>
    </wapon>
    <wapon>
      <IDname_wapon>bucherknife</IDname_wapon>
      <type>knife</type>
      <range>2</range>
    </wapon>
    </wapons>
  </enemy>

  <enemy>

    <hp>30</hp>
    <Experience>70</Experience>
    <Attack>99</Attack>
    <wapons>
    <wapon>
      <IDname_wapon>queen swort</IDname_wapon>
      <type>swort</type>
      <range>4</range>
    </wapon>
    <wapon>
      <IDname_wapon>mirror</IDname_wapon>
      <type>sheeld</type>
      <range>1</range>
    </wapon>
    <wapon>
      <IDname_wapon>kisses</IDname_wapon>
      <type>magic</type>
      <range>7</range>
    </wapon>
    </wapons>
  </enemy>

  <enemy>

     <hp>30</hp>
     <Experience>100</Experience>
     <Attack>20</Attack>
    <wapons>
    <wapon>
      <IDname_wapon>swort</IDname_wapon>
      <type>swort</type>
      <range>4</range>
    </wapon>
    <wapon>
      <IDname_wapon>knife</IDname_wapon>
      <type>knife</type>
      <range>1</range>
    </wapon>
    <wapon>
      <IDname_wapon>prins charming</IDname_wapon>
      <type>magic</type>
      <range>7</range>
    </wapon>
    </wapons>
  </enemy>

</enemies>